body {
  background: lightblue;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/background.png');
  background-position: center bottom;
  background-repeat: no-repeat;
}

.cvander {
  background: red;
  width: 166px;
  height: 171px;
  position: absolute;
  left: 150px;
  bottom: 0;
}
